body {
    font-family: 'Quicksand', sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

header {
    margin-top: 100px;
    border-bottom: 1px solid rgb(199, 199, 199);
}

.one-sentence-about {
    font-family: 'Rajdhani',sans-serif;
    font-size: larger;
}

.logo {
    margin-bottom: 80px;
}

/* Group*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

/* Site Navigation */
.site-nav a {
    display: block;
    color: gray;
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid rgb(199, 199, 199);
    border-bottom: none;
    transition-property: color, border-color, background-color;
    transition-duration: 2s;
}

.site-nav li {
    list-style: none;
    float: left;
    margin-right: 10px;
}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav a:hover {
    background-color: #00B0F0;
    color: white;
    border-color: #00B0F0;
}

/* Content Area */

.content-title {
    text-align: right;
}

.contact-title {
    font-family: 'Castoro', sans-serif;
    text-align: center;
    margin-top: 100px;
}

.contact-title h2 {
    color: gray;
}

.contact-form {
    text-align: center;
    margin-bottom: 100px;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: black;
    font-size: 18px;
    margin-bottom: 16px;
    letter-spacing: 2px;
}

@media screen and (max-width: 700px) {
    .contact-form,
    .form-control {
        width: auto;
    }
}

input {
    height: 45px;
}

form .submit {
    background: #00B0F0;
    border-color: transparent;
    color: white;
    letter-spacing: 2px;
    transition-property: background;
    transition-duration: 1s;
}

form .submit:hover {
    background: midnightblue;
    cursor: pointer;
}

/* Footer Area */

.footer-container {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    border-top: 2px solid #00B0F0;
}

.social-media-links {
    margin-bottom: 30px;
}

.social-media-links ul {
    margin: 0;
    padding: 0;
}

.social-media-links li {
    list-style: none;
}

.social-media-links a {
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(Medium\ \(logo\).png);
    background-position: 30px 0;
    text-indent: -9999px;
}

.Medium a:hover {
    background-position: 0 0;
}
